In [393]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 



path = './국가별내외국인입출국데이터.csv'
df = pd.read_csv(path, encoding='cp949')

In [394]:
raw = df.copy()

In [395]:
df.head()

,국가별(1),국가별(2),2018,2018.1,2018.2,2018.3,2018.4,2018.5,2019,2019.1,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,국가별(1),국가별(2),외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
1,세계,소계,2339399881 (persons),1991161437 (persons),1829956003842 (current US$),7.031 (% of total exports),1412736992372 (current US$),5.727 (% of total imports),2403074088 (persons),2034431899 (persons),1863068555521 (current US$),7.361 (% of total exports),1439120572186 (current US$),6.005 (% of total imports),-,-,-,-,-,-
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)

In [396]:
#컬럼을 없는 상태에서 시작
dat = pd.DataFrame(df, columns=None)

In [397]:
#컬럼명을 행 0번으로 지정
dat.columns = dat.iloc[0]
dat

,국가별(1),국가별(2),외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
0,국가별(1),국가별(2),외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
1,세계,소계,2339399881 (persons),1991161437 (persons),1829956003842 (current US$),7.031 (% of total exports),1412736992372 (current US$),5.727 (% of total imports),2403074088 (persons),2034431899 (persons),1863068555521 (current US$),7.361 (% of total exports),1439120572186 (current US$),6.005 (% of total imports),-,-,-,-,-,-
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,오세아니아,사모아,172000 (persons),64000 (persons),192300003 (current US$),63.877 (% of total exports),4100000 (current US$),0.975 (% of total imports),181000 (persons),69000 (persons),206100006 (current US$),61.197 (% of total exports),5200000 (current US$),1.139 (% of total imports),23900 (persons),18500 (persons),23059999 (current US$),19.791 (% of total exports),1800000 (current US$),0.478 (% of total imports)
191,오세아니아,솔로몬제도,27900 (persons),-,92000000 (current US$),13.516 (% of total exports),53000000 (current US$),7.084 (% of total imports),28900 (persons),-,82000000 (current US$),13.868 (% of total exports),62500000 (current US$),8.301 (% of total imports),4400 (persons),-,7000000 (current US$),1.632 (% of total exports),30910000 (current US$),5.557 (% of total imports)
192,오세아니아,통가,77300 (persons),-,48099998 (current US$),45.875 (% of total exports),41200001 (current US$),12.784 (% of total imports),94000 (persons),-,57099998 (current US$),50.764 (% of total exports),44000000 (current US$),13.439 (% of total imports),-,-,47700001 (current US$),47.805 (% of total exports),38000000 (current US$),12.271 (% of total imports)
193,오세아니아,투발루,3200 (persons),-,-,-,10800000 (current US$),23.017 (% of total imports),3600 (persons),-,-,-,9800000 (current US$),15.022 (% of total imports),-,-,-,-,-,-
194,오세아니아,바누아투,350200 (persons),28400 (persons),325000000 (current US$),85.440 (% of total exports),21000000 (current US$),4.045 (% of total imports),256000 (persons),36400 (persons),295000000 (current US$),79.150 (% of total exports),32000000 (current US$),6.547 (% of total imports),82400 (persons),9400 (persons),67000000 (current US$),47.338 (% of total exports),22000000 (current US$),5.121 (% of total imports)

In [398]:
#행 1번의 소계는 모든 나라의 총합이라 필요없으므로 행 2번부터 데이터 추출
dat = dat[2:]
dat.head()

,국가별(1),국가별(2),외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)
5,아시아,바레인,12045000 (persons),2868000 (persons),3834000000 (current US$),12.739 (% of total exports),2522000000 (current US$),9.277 (% of total imports),11061000 (persons),2950000 (persons),3860000000 (current US$),-,2637000000 (current US$),-,1909000 (persons),-,724000000 (current US$),-,-,-
6,아시아,방글라데시,267000 (persons),-,357000000 (current US$),0.809 (% of total exports),1207000000 (current US$),1.840 (% of total imports),323000 (persons),-,391000000 (current US$),0.870 (% of total exports),1389000000 (current US$),2.162 (% of total imports),-,-,217899994 (current US$),0.566 (% of total exports),659000000 (current US$),1.161 (% of total imports)

컬럼명 변경

In [399]:
new_columns_name = '대륙'
dat.columns.values[0] = new_columns_name
dat.head()

,대륙,국가별(2),외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수,내국인 해외여행 출국자수,관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)
5,아시아,바레인,12045000 (persons),2868000 (persons),3834000000 (current US$),12.739 (% of total exports),2522000000 (current US$),9.277 (% of total imports),11061000 (persons),2950000 (persons),3860000000 (current US$),-,2637000000 (current US$),-,1909000 (persons),-,724000000 (current US$),-,-,-
6,아시아,방글라데시,267000 (persons),-,357000000 (current US$),0.809 (% of total exports),1207000000 (current US$),1.840 (% of total imports),323000 (persons),-,391000000 (current US$),0.870 (% of total exports),1389000000 (current US$),2.162 (% of total imports),-,-,217899994 (current US$),0.566 (% of total exports),659000000 (current US$),1.161 (% of total imports)

In [400]:
dat.columns

Index(['대륙', '국가별(2)', '외국인 관광객 입국자수', '내국인 해외여행 출국자수', '관광수지 수취액(경상 미달러)',
       '관광수지 수취액의 총수출액 대비 비율', '관광수지 지출액(경상 미달러)', '관광수지 지출액의 총수입액 대비 비율',
       '외국인 관광객 입국자수', '내국인 해외여행 출국자수', '관광수지 수취액(경상 미달러)',
       '관광수지 수취액의 총수출액 대비 비율', '관광수지 지출액(경상 미달러)', '관광수지 지출액의 총수입액 대비 비율',
       '외국인 관광객 입국자수', '내국인 해외여행 출국자수', '관광수지 수취액(경상 미달러)',
       '관광수지 수취액의 총수출액 대비 비율', '관광수지 지출액(경상 미달러)', '관광수지 지출액의 총수입액 대비 비율'],
      dtype='object', name=0)

In [401]:
new_columns_name = '국가'
dat.columns.values[1] = new_columns_name

In [402]:
new_columns_name = '외국인 관광객 입국자수(2018)'
dat.columns.values[2] = new_columns_name

In [403]:
new_columns_name = '외국인 관광객 입국자수(2019)'
dat.columns.values[8] = new_columns_name

In [404]:
new_columns_name = '외국인 관광객 입국자수(2020)'
dat.columns.values[14] = new_columns_name

In [405]:
new_columns_name = '내국인 해외여행 출국자수(2018)'
dat.columns.values[3] = new_columns_name

In [406]:
new_columns_name = '내국인 해외여행 출국자수(2019)'
dat.columns.values[9] = new_columns_name

In [407]:
new_columns_name = '내국인 해외여행 출국자수(2020)'
dat.columns.values[15] = new_columns_name

In [408]:
dat.head()

,대륙,국가,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)
5,아시아,바레인,12045000 (persons),2868000 (persons),3834000000 (current US$),12.739 (% of total exports),2522000000 (current US$),9.277 (% of total imports),11061000 (persons),2950000 (persons),3860000000 (current US$),-,2637000000 (current US$),-,1909000 (persons),-,724000000 (current US$),-,-,-
6,아시아,방글라데시,267000 (persons),-,357000000 (current US$),0.809 (% of total exports),1207000000 (current US$),1.840 (% of total imports),323000 (persons),-,391000000 (current US$),0.870 (% of total exports),1389000000 (current US$),2.162 (% of total imports),-,-,217899994 (current US$),0.566 (% of total exports),659000000 (current US$),1.161 (% of total imports)

In [457]:
dat['국가'].count() #193개의 국가

193

In [409]:
# dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.replace('(persons)', '')

In [410]:
# dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.replace('-', '')

In [411]:
# dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.strip()

In [412]:
# dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].replace('',np.nan)

In [413]:
# dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat.loc[:,'외국인 관광객 입국자수(2018)'].fillna(0)

In [414]:
# dat['외국인 관광객 입국자수(2018)'] = dat.loc[:,'외국인 관광객 입국자수(2018)'].astype(float)

In [415]:
# dat['외국인 관광객 입국자수(2018)']

In [416]:
#컬럼명 변경 완료된 데이터
dat

,대륙,국가,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율,외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020),관광수지 수취액(경상 미달러),관광수지 수취액의 총수출액 대비 비율,관광수지 지출액(경상 미달러),관광수지 지출액의 총수입액 대비 비율
2,아시아,아프가니스탄,-,-,50000000 (current US$),3.107 (% of total exports),226000000 (current US$),2.829 (% of total imports),-,-,85000000 (current US$),5.608 (% of total exports),168000000 (current US$),2.279 (% of total imports),-,-,75000000 (current US$),5.080 (% of total exports),49000000 (current US$),0.702 (% of total imports)
3,아시아,아르메니아,1652000 (persons),1623000 (persons),1358000000 (current US$),27.562 (% of total exports),1335000000 (current US$),19.986 (% of total imports),1894000 (persons),1868000 (persons),1553000000 (current US$),26.802 (% of total exports),1543000000 (current US$),20.294 (% of total imports),375000 (persons),346000 (persons),303000000 (current US$),7.936 (% of total exports),330000000 (current US$),6.493 (% of total imports)
4,아시아,아제르바이잔,2850000 (persons),4908000 (persons),2830000000 (current US$),11.105 (% of total exports),2453000000 (current US$),13.855 (% of total imports),3170000 (persons),5568000 (persons),2004099976 (current US$),8.481 (% of total exports),1839000000 (current US$),10.383 (% of total imports),796000 (persons),1165000 (persons),340000000 (current US$),2.236 (% of total exports),439000000 (current US$),2.825 (% of total imports)
5,아시아,바레인,12045000 (persons),2868000 (persons),3834000000 (current US$),12.739 (% of total exports),2522000000 (current US$),9.277 (% of total imports),11061000 (persons),2950000 (persons),3860000000 (current US$),-,2637000000 (current US$),-,1909000 (persons),-,724000000 (current US$),-,-,-
6,아시아,방글라데시,267000 (persons),-,357000000 (current US$),0.809 (% of total exports),1207000000 (current US$),1.840 (% of total imports),323000 (persons),-,391000000 (current US$),0.870 (% of total exports),1389000000 (current US$),2.162 (% of total imports),-,-,217899994 (current US$),0.566 (% of total exports),659000000 (current US$),1.161 (% of total imports)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,오세아니아,사모아,172000 (persons),64000 (persons),192300003 (current US$),63.877 (% of total exports),4100000 (current US$),0.975 (% of total imports),181000 (persons),69000 (persons),206100006 (current US$),61.197 (% of total exports),5200000 (current US$),1.139 (% of total imports),23900 (persons),18500 (persons),23059999 (current US$),19.791 (% of total exports),1800000 (current US$),0.478 (% of total imports)
191,오세아니아,솔로몬제도,27900 (persons),-,92000000 (current US$),13.516 (% of total exports),53000000 (current US$),7.084 (% of total imports),28900 (persons),-,82000000 (current US$),13.868 (% of total exports),62500000 (current US$),8.301 (% of total imports),4400 (persons),-,7000000 (current US$),1.632 (% of total exports),30910000 (current US$),5.557 (% of total imports)
192,오세아니아,통가,77300 (persons),-,48099998 (current US$),45.875 (% of total exports),41200001 (current US$),12.784 (% of total imports),94000 (persons),-,57099998 (current US$),50.764 (% of total exports),44000000 (current US$),13.439 (% of total imports),-,-,47700001 (current US$),47.805 (% of total exports),38000000 (current US$),12.271 (% of total imports)
193,오세아니아,투발루,3200 (persons),-,-,-,10800000 (current US$),23.017 (% of total imports),3600 (persons),-,-,-,9800000 (current US$),15.022 (% of total imports),-,-,-,-,-,-
194,오세아니아,바누아투,350200 (persons),28400 (persons),325000000 (current US$),85.440 (% of total exports),21000000 (current US$),4.045 (% of total imports),256000 (persons),36400 (persons),295000000 (current US$),79.150 (% of total exports),32000000 (current US$),6.547 (% of total imports),82400 (persons),9400 (persons),67000000 (current US$),47.338 (% of total exports),22000000 (current US$),5.121 (% of total imports)

각 년도별 나라에 방문한 외내국인 더할려고 시도<br> 
데이터타입이 object임 --> int로 변경 할 필요 있음! <br> 
컬럼 값이 350200 (persons) / '-' 으로 되어있음 <br> 
<br>
전처리 해야할 것 <br>
1. (persons) 제거 <br>
2. '-'제거 <br>
3. 제거 후 남은 공백도 제거 <br>
4. (데이터타입이 object라 공백도 object로 인식) 공백을 null값으로 변경<br>
5. fillna(0)으로 null값을 0 으로 변경 <br>
6. 데이터 타입 float로 변경 <br>

2018년도

In [417]:
dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.replace('(persons)', '')
dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.replace('-', '')
dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].str.strip()
dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat['외국인 관광객 입국자수(2018)'].replace('',np.nan)
dat.loc[:,'외국인 관광객 입국자수(2018)'] = dat.loc[:,'외국인 관광객 입국자수(2018)'].fillna(0)
dat['외국인 관광객 입국자수(2018)'] = dat.loc[:,'외국인 관광객 입국자수(2018)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\2802942262.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['외국인 관광객 입국자수(2018)'] = dat.loc[:,'외국인 관광객 입국자수(2018)'].astype(float)

In [418]:
dat['외국인 관광객 입국자수(2018)']

2             0.0
3       1652000.0
4       2850000.0
5      12045000.0
6        267000.0
          ...
190      172000.0
191       27900.0
192       77300.0
193        3200.0
194      350200.0
Name: 외국인 관광객 입국자수(2018), Length: 193, dtype: float64

In [419]:
dat.loc[:,'내국인 해외여행 출국자수(2018)'] = dat['내국인 해외여행 출국자수(2018)'].str.replace('(persons)', '')
dat.loc[:,'내국인 해외여행 출국자수(2018)'] = dat['내국인 해외여행 출국자수(2018)'].str.replace('-', '')
dat.loc[:,'내국인 해외여행 출국자수(2018)'] = dat['내국인 해외여행 출국자수(2018)'].str.strip()
dat.loc[:,'내국인 해외여행 출국자수(2018)'] = dat['내국인 해외여행 출국자수(2018)'].replace('',np.nan)
dat.loc[:,'내국인 해외여행 출국자수(2018)'] = dat.loc[:,'내국인 해외여행 출국자수(2018)'].fillna(0)
dat['내국인 해외여행 출국자수(2018)'] = dat.loc[:,'내국인 해외여행 출국자수(2018)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\972390303.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['내국인 해외여행 출국자수(2018)'] = dat.loc[:,'내국인 해외여행 출국자수(2018)'].astype(float)

In [420]:
dat['내국인 해외여행 출국자수(2018)']

2            0.0
3      1623000.0
4      4908000.0
5      2868000.0
6            0.0
         ...
190      64000.0
191          0.0
192          0.0
193          0.0
194      28400.0
Name: 내국인 해외여행 출국자수(2018), Length: 193, dtype: float64

2019년

In [421]:
dat.loc[:,'외국인 관광객 입국자수(2019)'] = dat['외국인 관광객 입국자수(2019)'].str.replace('(persons)', '')
dat.loc[:,'외국인 관광객 입국자수(2019)'] = dat['외국인 관광객 입국자수(2019)'].str.replace('-', '')
dat.loc[:,'외국인 관광객 입국자수(2019)'] = dat['외국인 관광객 입국자수(2019)'].str.strip()
dat.loc[:,'외국인 관광객 입국자수(2019)'] = dat['외국인 관광객 입국자수(2019)'].replace('',np.nan)
dat.loc[:,'외국인 관광객 입국자수(2019)'] = dat.loc[:,'외국인 관광객 입국자수(2019)'].fillna(0)
dat['외국인 관광객 입국자수(2019)'] = dat.loc[:,'외국인 관광객 입국자수(2019)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\1733853771.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['외국인 관광객 입국자수(2019)'] = dat.loc[:,'외국인 관광객 입국자수(2019)'].astype(float)

In [422]:
dat['외국인 관광객 입국자수(2019)']

2             0.0
3       1894000.0
4       3170000.0
5      11061000.0
6        323000.0
          ...
190      181000.0
191       28900.0
192       94000.0
193        3600.0
194      256000.0
Name: 외국인 관광객 입국자수(2019), Length: 193, dtype: float64

In [423]:
dat.loc[:,'내국인 해외여행 출국자수(2019)'] = dat['내국인 해외여행 출국자수(2019)'].str.replace('(persons)', '')
dat.loc[:,'내국인 해외여행 출국자수(2019)'] = dat['내국인 해외여행 출국자수(2019)'].str.replace('-', '')
dat.loc[:,'내국인 해외여행 출국자수(2019)'] = dat['내국인 해외여행 출국자수(2019)'].str.strip()
dat.loc[:,'내국인 해외여행 출국자수(2019)'] = dat['내국인 해외여행 출국자수(2019)'].replace('',np.nan)
dat.loc[:,'내국인 해외여행 출국자수(2019)'] = dat.loc[:,'내국인 해외여행 출국자수(2019)'].fillna(0)
dat['내국인 해외여행 출국자수(2019)'] = dat.loc[:,'내국인 해외여행 출국자수(2019)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\2626818526.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['내국인 해외여행 출국자수(2019)'] = dat.loc[:,'내국인 해외여행 출국자수(2019)'].astype(float)

In [424]:
dat['내국인 해외여행 출국자수(2019)']

2            0.0
3      1868000.0
4      5568000.0
5      2950000.0
6            0.0
         ...
190      69000.0
191          0.0
192          0.0
193          0.0
194      36400.0
Name: 내국인 해외여행 출국자수(2019), Length: 193, dtype: float64

2020년

In [425]:
dat.loc[:,'외국인 관광객 입국자수(2020)'] = dat['외국인 관광객 입국자수(2020)'].str.replace('(persons)', '')
dat.loc[:,'외국인 관광객 입국자수(2020)'] = dat['외국인 관광객 입국자수(2020)'].str.replace('-', '')
dat.loc[:,'외국인 관광객 입국자수(2020)'] = dat['외국인 관광객 입국자수(2020)'].str.strip()
dat.loc[:,'외국인 관광객 입국자수(2020)'] = dat['외국인 관광객 입국자수(2020)'].replace('',np.nan)
dat.loc[:,'외국인 관광객 입국자수(2020)'] = dat.loc[:,'외국인 관광객 입국자수(2020)'].fillna(0)
dat['외국인 관광객 입국자수(2020)'] = dat.loc[:,'외국인 관광객 입국자수(2020)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\3126592218.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['외국인 관광객 입국자수(2020)'] = dat.loc[:,'외국인 관광객 입국자수(2020)'].astype(float)

In [426]:
dat['외국인 관광객 입국자수(2020)']

2            0.0
3       375000.0
4       796000.0
5      1909000.0
6            0.0
         ...
190      23900.0
191       4400.0
192          0.0
193          0.0
194      82400.0
Name: 외국인 관광객 입국자수(2020), Length: 193, dtype: float64

In [427]:
dat.loc[:,'내국인 해외여행 출국자수(2020)'] = dat['내국인 해외여행 출국자수(2020)'].str.replace('(persons)', '')
dat.loc[:,'내국인 해외여행 출국자수(2020)'] = dat['내국인 해외여행 출국자수(2020)'].str.replace('-', '')
dat.loc[:,'내국인 해외여행 출국자수(2020)'] = dat['내국인 해외여행 출국자수(2020)'].str.strip()
dat.loc[:,'내국인 해외여행 출국자수(2020)'] = dat['내국인 해외여행 출국자수(2020)'].replace('',np.nan)
dat.loc[:,'내국인 해외여행 출국자수(2020)'] = dat.loc[:,'내국인 해외여행 출국자수(2020)'].fillna(0)
dat['내국인 해외여행 출국자수(2020)'] = dat.loc[:,'내국인 해외여행 출국자수(2020)'].astype(float)

C:\Users\Master\AppData\Local\Temp\ipykernel_15664\2948452549.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dat['내국인 해외여행 출국자수(2020)'] = dat.loc[:,'내국인 해외여행 출국자수(2020)'].astype(float)

In [428]:
dat['내국인 해외여행 출국자수(2020)']

2            0.0
3       346000.0
4      1165000.0
5            0.0
6            0.0
         ...
190      18500.0
191          0.0
192          0.0
193          0.0
194       9400.0
Name: 내국인 해외여행 출국자수(2020), Length: 193, dtype: float64

In [455]:
#필요한 데이터가 float로 변경되었는지 확인
dat.dtypes

0
대륙                       object
국가                       object
외국인 관광객 입국자수(2018)      float64
내국인 해외여행 출국자수(2018)     float64
관광수지 수취액(경상 미달러)         object
관광수지 수취액의 총수출액 대비 비율     object
관광수지 지출액(경상 미달러)         object
관광수지 지출액의 총수입액 대비 비율     object
외국인 관광객 입국자수(2019)      float64
내국인 해외여행 출국자수(2019)     float64
관광수지 수취액(경상 미달러)         object
관광수지 수취액의 총수출액 대비 비율     object
관광수지 지출액(경상 미달러)         object
관광수지 지출액의 총수입액 대비 비율     object
외국인 관광객 입국자수(2020)      float64
내국인 해외여행 출국자수(2020)     float64
관광수지 수취액(경상 미달러)         object
관광수지 수취액의 총수출액 대비 비율     object
관광수지 지출액(경상 미달러)         object
관광수지 지출액의 총수입액 대비 비율     object
dtype: object

외국인 관광객 입국자가 가장 많은 나라

In [430]:
#국가별 외국인 관광객 입국자수(2018-2020)의 합
dat_grouped = dat.groupby('국가')[['외국인 관광객 입국자수(2018)','외국인 관광객 입국자수(2019)','외국인 관광객 입국자수(2020)']].sum()

In [432]:
dat_grouped

0     외국인 관광객 입국자수(2018)  외국인 관광객 입국자수(2019)  외국인 관광객 입국자수(2020)
국가
가나                   0.0                 0.0                 0.0
가이아나            287000.0            315000.0             86400.0
감비아             552000.0            620000.0            246000.0
과테말라           2406000.0           2560000.0            594000.0
괌              1549000.0           1667000.0            328000.0
...                  ...                 ...                 ...
피지             1058000.0            969000.0            168000.0
핀란드            3224000.0           3290000.0            896000.0
필리핀            7168000.0           8261000.0           1483000.0
헝가리           57667000.0          61397000.0          31641000.0
홍콩            65148000.0          55913000.0           3569000.0

[193 rows x 3 columns]

In [433]:
#컬럼끼리 더함 >> 외국인 관광객 입국자수(2018) + 외국인 관광객 입국자수(2019) + 외국인 관광객 입국자수(2020)
df = dat_grouped.sum(axis=1)

In [434]:
df_sum = pd.DataFrame(df)

In [435]:
df_sum.columns = ['외국인입국자총합']
df_sum

         외국인입국자총합
국가
가나            0.0
가이아나     688400.0
감비아     1418000.0
과테말라    5560000.0
괌       3544000.0
...           ...
피지      2195000.0
핀란드     7410000.0
필리핀    16912000.0
헝가리   150705000.0
홍콩    124630000.0

[193 rows x 1 columns]

In [436]:
#2018-2020의 총합계가 제일 큰 값 확인
df.max()

546984000.0

In [440]:
df_sum[df_sum['외국인입국자총합'] == 546984000.0]

        외국인입국자총합
국가
프랑스  546984000.0

내국인 출국자중 가장 많이 출국한 나라

In [441]:
dat_grouped = dat.groupby('국가')[['내국인 해외여행 출국자수(2018)','내국인 해외여행 출국자수(2019)','내국인 해외여행 출국자수(2020)']].sum()
dat_grouped

0     내국인 해외여행 출국자수(2018)  내국인 해외여행 출국자수(2019)  내국인 해외여행 출국자수(2020)
국가
가나                    0.0                  0.0                  0.0
가이아나                  0.0                  0.0                  0.0
감비아                   0.0                  0.0                  0.0
과테말라            1538000.0            1703000.0             507800.0
괌                     0.0                  0.0                  0.0
...                   ...                  ...                  ...
피지               174000.0             174000.0                  0.0
핀란드            10480000.0           10440000.0            2690000.0
필리핀                   0.0                  0.0            1483000.0
헝가리            22805000.0           24860000.0           12727000.0
홍콩             92214000.0           94715000.0            8261000.0

[193 rows x 3 columns]

In [442]:
dat_grouped.dtypes

0
내국인 해외여행 출국자수(2018)    float64
내국인 해외여행 출국자수(2019)    float64
내국인 해외여행 출국자수(2020)    float64
dtype: object

In [446]:
df =dat_grouped.sum(axis=1)
df

국가
가나              0.0
가이아나            0.0
감비아             0.0
과테말라      3748800.0
괌               0.0
           ...
피지         348000.0
핀란드      23610000.0
필리핀       1483000.0
헝가리      60392000.0
홍콩      195190000.0
Length: 193, dtype: float64

In [449]:
df_sum = pd.DataFrame(df)
df_sum

                0
국가
가나            0.0
가이아나          0.0
감비아           0.0
과테말라    3748800.0
괌             0.0
...           ...
피지       348000.0
핀란드    23610000.0
필리핀     1483000.0
헝가리    60392000.0
홍콩    195190000.0

[193 rows x 1 columns]

In [451]:
df_sum.columns = ['내국인출국자총합']
df_sum

         내국인출국자총합
국가
가나            0.0
가이아나          0.0
감비아           0.0
과테말라    3748800.0
괌             0.0
...           ...
피지       348000.0
핀란드    23610000.0
필리핀     1483000.0
헝가리    60392000.0
홍콩    195190000.0

[193 rows x 1 columns]

In [453]:
df_sum.max()

내국인출국자총합    324686000.0
dtype: float64

In [454]:
df_sum[df_sum['내국인출국자총합'] == 324686000.0]

       내국인출국자총합
국가
중국  324686000.0

외국인 내국인이 가장 많이 가는 나라

In [459]:
dat_grouped = dat.groupby('국가')[['외국인 관광객 입국자수(2018)','내국인 해외여행 출국자수(2018)','외국인 관광객 입국자수(2019)','내국인 해외여행 출국자수(2019)','외국인 관광객 입국자수(2020)','내국인 해외여행 출국자수(2020)']].sum()
dat_grouped

,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020)
국가,,,,,,
가나,0.0,0.0,0.0,0.0,0.0,0.0
가이아나,287000.0,0.0,315000.0,0.0,86400.0,0.0
감비아,552000.0,0.0,620000.0,0.0,246000.0,0.0
과테말라,2406000.0,1538000.0,2560000.0,1703000.0,594000.0,507800.0
괌,1549000.0,0.0,1667000.0,0.0,328000.0,0.0
...,...,...,...,...,...,...
피지,1058000.0,174000.0,969000.0,174000.0,168000.0,0.0
핀란드,3224000.0,10480000.0,3290000.0,10440000.0,896000.0,2690000.0
필리핀,7168000.0,0.0,8261000.0,0.0,1483000.0,1483000.0
헝가리,57667000.0,22805000.0,61397000.0,24860000.0,31641000.0,12727000.0
홍콩,65148000.0,92214000.0,55913000.0,94715000.0,3569000.0,8261000.0

In [463]:
df = dat_grouped.sum(axis=1)
df_sum = pd.DataFrame(df)
df_sum

                0
국가
가나            0.0
가이아나     688400.0
감비아     1418000.0
과테말라    9308800.0
괌       3544000.0
...           ...
피지      2543000.0
핀란드    31020000.0
필리핀    18395000.0
헝가리   211097000.0
홍콩    319820000.0

[193 rows x 1 columns]

In [464]:
df_sum.columns = ['내외국인입출국총합']
df_sum

        내외국인입출국총합
국가
가나            0.0
가이아나     688400.0
감비아     1418000.0
과테말라    9308800.0
괌       3544000.0
...           ...
피지      2543000.0
핀란드    31020000.0
필리핀    18395000.0
헝가리   211097000.0
홍콩    319820000.0

[193 rows x 1 columns]

In [465]:
df_sum['내외국인입출국총합'].max

676232000.0

In [466]:
df_sum[df_sum['내외국인입출국총합']==676232000.0]

      내외국인입출국총합
국가
중국  676232000.0

In [470]:
dat_grouped = dat[['국가','외국인 관광객 입국자수(2018)','내국인 해외여행 출국자수(2018)','외국인 관광객 입국자수(2019)','내국인 해외여행 출국자수(2019)','외국인 관광객 입국자수(2020)','내국인 해외여행 출국자수(2020)']]
dat_grouped

,국가,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020)
2,아프가니스탄,0.0,0.0,0.0,0.0,0.0,0.0
3,아르메니아,1652000.0,1623000.0,1894000.0,1868000.0,375000.0,346000.0
4,아제르바이잔,2850000.0,4908000.0,3170000.0,5568000.0,796000.0,1165000.0
5,바레인,12045000.0,2868000.0,11061000.0,2950000.0,1909000.0,0.0
6,방글라데시,267000.0,0.0,323000.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
190,사모아,172000.0,64000.0,181000.0,69000.0,23900.0,18500.0
191,솔로몬제도,27900.0,0.0,28900.0,0.0,4400.0,0.0
192,통가,77300.0,0.0,94000.0,0.0,0.0,0.0
193,투발루,3200.0,0.0,3600.0,0.0,0.0,0.0
194,바누아투,350200.0,28400.0,256000.0,36400.0,82400.0,9400.0

In [484]:
c = dat_grouped['국가'] == '일본'

In [485]:
dat_grouped[c]

,국가,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020)
19,일본,31191000.0,18954000.0,31881000.0,20081000.0,4115800.0,3174000.0

In [486]:
dat_japan = dat_grouped[c][['외국인 관광객 입국자수(2018)','내국인 해외여행 출국자수(2018)','외국인 관광객 입국자수(2019)','내국인 해외여행 출국자수(2019)','외국인 관광객 입국자수(2020)','내국인 해외여행 출국자수(2020)']]
dat_japan

,외국인 관광객 입국자수(2018),내국인 해외여행 출국자수(2018),외국인 관광객 입국자수(2019),내국인 해외여행 출국자수(2019),외국인 관광객 입국자수(2020),내국인 해외여행 출국자수(2020)
19,31191000.0,18954000.0,31881000.0,20081000.0,4115800.0,3174000.0

In [487]:
dat_japan.sum(axis=1)

19    109396800.0
dtype: float64